.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 720px;
    color: #FFFFFF;}
/*Сделал промежуточный*/
@media screen and (max-width: 767px) {
.lead__title {
    font-size: 72px;
    line-height: 80px;
    margin: 0px auto 16px;
    max-width: 560px;
    color: #FFFFFF;}
}
@media screen and (max-width: 540px) {
.lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0px auto 16px;
    max-width: 288px;
    color: #FFFFFF;}
}