.footer__links {
    max-width: 500px;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .footer__links{
    max-width: 186px;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 0 16px;
    }
  }