.header__lang-links {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 18px 0px 6px 0;
}

@media screen and (max-width: 425px) {
    .header__lang-links {
        padding: 14px 0px 4px 0;
        }
    }